 body{
    font-family: 'Mitr', sans-serif;
    }
     .headercs{
        font-size: 30px;
        background-color:cadetblue;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .box{
      background-color:#E0E0E0 ;
     /* vertical-align: top;*/
      
     }
    
     .center{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .content{
         color:coral; 
     }
     
     .btn-group .button {
      background-color: #212F3D ;
      border: none;
      color: white;
      padding: 15px 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      float: left;
    }
    .btn-group .button:hover {
      background-color: #566573 ;
    }
footer{
   background-color:#E0E0E0 ;
   display: block;
   bottom: 0;
   text-align: center;

   }
    