 html,body{
    font-family: 'Mitr', sans-serif;
    background-color: #626567;
    margin: 0;
    padding: 0;
    }

    .main-conent{
       max-width: 1000px;
       margin: auto;
    }

    .top-header{
      background-color: #000000 ;
       max-width: 1000px;
       margin: auto;
     
    }
     .image{
        width: 100%;
     }

     .box{
      background-color: #D5DBDB  ;
      text-align: center;
      margin: 20px;
      padding: 30px;
     }

     .button1{
      color: #ffffff;  
      background-color: #5D6D7E;
      padding:10px ;
      text-decoration: none;
      display: inline-block;
     }
    
     .btn-group .button {
      background-color: #000000 ;
      border: none;
      color: white;
      padding: 15px 58px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition-duration: 0.4s;
      cursor: pointer;
      float: left;
    }

    .btn-group .button:hover {
      background-color: #212F3D ;
    }
    
   .footer-bt {
      background-color: #212F3D;
       padding: 20px;
       text-align: center;
       color: white;
   }
    